@use '/src/variables.scss' as *;

.header-settings-menu {
  width: 220px;
  height: fit-content;
  border: 1px solid var(--text-hover-color);
  border-radius: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
  background: var(--background-color);
  box-shadow: 0 0 40px -20px var(--text-hover-color);
  position: absolute;
  top: 0px;
  z-index: 999;
  user-select: none;

  @media screen and (min-width: 1201px) {
    left: 100%;
  }

  @media screen and (max-width: 1200px) {
    border-radius: 10px 0 10px 10px;
    position: fixed;
  }
}

.header-settings-title {
  color: var(--text-color);
  margin: 0;
}

.header-settings-chips-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.header-settings-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  width: 55px;
  height: 31px;
  border-radius: 20px;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: var(--text-hover-color);
    color: var(--text-inverted-color);
  }
}

.header-settings-chip-large {
  @extend .header-settings-chip;
  width: 90px;
}

.header-settings-chip-selected {
  border: 1px solid var(--text-hover-color);
}
