@use '/src/variables.scss' as *;

.header-mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  // height: 200px;
  display: flex;
  justify-content: center;
  z-index: 999;

  @media screen and (max-width: 500px) {
    justify-content: flex-start;
    display: block;
    overflow-x: scroll;
    overflow: visible !important;
    // overflow-y: visible;
  }

  .header-settings-menu {
    @media screen and (max-width: 1200px) {
      top: 70px;
      transform: translateX(120px);
    }

    @media screen and (max-width: 500px) {
      top: 70px;
      transform: translateX(0);
      right: 10px;
    }
  }
}

.header-mobile-list {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 20px;
  width: 100vw;
  padding-left: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  // height: 70px;

  @media screen and (max-width: 500px) {
    width: max-content;
  }
}

.header-mobile-container::-webkit-scrollbar {
  display: none;
}

.header-mobile-list::-webkit-scrollbar {
  display: none;
}

.header-mobile-list-item {
  margin-right: 10px;
}

.header-mobile-list-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  width: fit-content;
  padding: 10px 20px;
  height: 31px;
  border-radius: 20px;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid white;

  &:hover {
    background: var(--text-hover-color);
    border: 1px solid var(--text-hover-color);
    color: var(--text-inverted-color);
  }

  &:active {
    border: 1px solid var(--text-hover-color);
  }
}

/* .header-mobile-settings-container {
  position: fixed;
  display: flex;
  flex-direction: row;
}
 */
