@use '/src/variables.scss' as *;

.contact-container {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 240px;

  @media screen and (max-width: 1200px) {
    padding: 0 20px 0 20px;
  }

  @media screen and (min-width: 1201px) {
    padding-left: 240px;
  }
}

.contact-title {
  font-family: 'PixelifySans';
  font-size: 96px;
  line-height: 96px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--text-hover-color);
  text-transform: uppercase;
  user-select: none;

  @media screen and (max-width: 1200px) {
    font-size: 64px;
    line-height: 64px;
  }
}

.contact-subtitle {
  margin: 0;
  text-align: center;
  user-select: none;
}

.contact-separator {
  margin: 24px 0;
  user-select: none;
}

.contact-email {
  margin: 0;
  text-align: center;

  span {
    color: var(--text-hover-color);
    user-select: none;
  }
}
