@use '/src/variables.scss' as *;

.header-container {
  width: 240px;
  height: 100svh;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 998;

  @media screen and (max-width: 1920px) {
    left: 0;
  }
}

.header-list {
  list-style: none;
}

.header-list-item {
  margin: 30px 0;
}

.header-list-link {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-family: 'JetBrainsMono';
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  cursor: pointer;
  user-select: none;

  &:hover {
    color: var(--text-hover-color);
  }
}

.header-list-link-selected {
  @extend .header-list-link;
  color: var(--text-hover-color) !important;
}

.header-settings-container {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}
