.dummy-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 240px;
  transition: transform 0.2s ease-in-out;

  @media screen and (max-width: 1200px) {
    padding-left: 20px;
  }
}

.dummy-list-item {
  width: 270px;
  min-width: 270px;
  height: 150px;
  border-radius: 10px;
  margin-right: 20px;
  overflow: hidden;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 300%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent 0%,
      rgba(255, 255, 255, 0.2) 50%,
      transparent 100%
    );
    animation: shimmer 0.5s alternate-reverse infinite;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}
