@use '../../variables.scss' as *;

.banner-container {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(to right, rgba(11, 11, 11, 1), #1e1e1e);
  top: 0;
  left: 0;
  box-shadow: 0 0 30px -10px var(--text-hover-color);

  @media screen and (max-width: 1200px) {
    top: unset;
    bottom: 0;
    background: #151515;
  }
}

.banner-items-wrapper {
  display: flex;
  animation: displacement 15s linear infinite;
}

.banner-item {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 140px;
  box-sizing: border-box;

  img {
    position: relative;
    height: 30px;
  }
}

@keyframes displacement {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}
